<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.daoyiksw.browsesocial">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation,ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:name=".consts.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:name=".ui.first.activity.FirstActivity">

        </activity>
        <!--login-->
        <activity android:name=".ui.login.activity.LoginActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            >
        </activity>
        <!--loginIndex-->
        <activity android:name=".ui.login.activity.LoginIndexActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            >
        </activity>

        <!--register-->
        <activity android:name=".ui.login.activity.RegisteActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            >
        </activity>
        <!--forget-->
        <activity android:name=".ui.login.activity.ForgetActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            >
        </activity>
        <!--setting -->
        <activity android:name=".ui.user.activity.SettingActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            >
        </activity>
        <!--userinfo -->
        <activity android:name=".ui.user.activity.UserInfoActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            >
        </activity>
        <!--comment -->
        <activity android:name=".ui.user.activity.CommentActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            >
        </activity>
        <!--account -->
        <activity android:name=".ui.user.activity.AccountActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            >
        </activity>
        <!--AccountRecords (账户记录) -->
        <activity android:name=".ui.user.activity.AccountRecordsActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            >
        </activity>
        <!-- (礼物收益) -->
        <activity android:name=".ui.user.activity.GiftIncomeActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            >
        </activity>
        <!-- (我的收藏) -->
        <activity android:name=".ui.user.activity.CollectActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            >
        </activity>
        <!-- (意见反馈) -->
        <activity android:name=".ui.user.activity.FaceBackActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <!-- (邀请有礼) -->
        <activity android:name=".ui.user.activity.InviteActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <!-- (关于我们) -->
        <activity android:name=".ui.user.activity.AboutActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <!-- (充值) -->
        <activity android:name=".ui.user.activity.RechargeActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <!-- (提现) -->
        <activity android:name=".ui.user.activity.WithDrawActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <!-- (会员开通) -->
        <activity android:name=".ui.user.activity.MemberActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <!--主页-->
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>



        <!-- 设置环信应用的AppKey -->
        <meta-data android:name="EASEMOB_APPKEY"  android:value="1148201114203630#wtbrowies" />
        <!-- 声明SDK所需的service SDK核心功能-->
        <service android:name="com.hyphenate.chat.EMChatService" android:exported="true"/>
        <service android:name="com.hyphenate.chat.EMJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>